@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@fontsource/allan");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.grid-container {
 
  width: 100%;
  display: grid;
  grid-template-columns: 300px 200px 200px 200px;
  grid-template-rows: 400px 200px;
  gap: 20px;
  grid-template-areas:
    "box-1 box-1 box-2 box-2"
    "box-3 box-4 box-2 box-2";
}
